# torch
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision


# BasicSR
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf

# HAT
einops